body{
    background-color:#000011
}

h1{
    color:#FFFFFF
}

h2{
    color:#FFFFFF
}

p{
    color:#FFFFFF
}

a{
    text-decoration:none
}

a:link{color:#5555ff}
a:hover{color:#9999FF}
a:active{color:#cc55FF}
a:visited{color:#5555ff}